.product-display-page{
    padding-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-display{
    margin: 50px;
    width: 30%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.back-to-shop{
    text-decoration: underline;
    cursor: pointer;
    color: black;
    margin: 50px;
    align-self: center;
    font-size: xx-large;
}